<div id="splittscreen-container">
	<div id="splittscreen-body">
	</div>
</div>

<button class="splittscreen-button splittscreen-button-hide">&#xe634;</button>
<button class="splittscreen-button splittscreen-button-show">&#xe610;</button>